{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h5 class="mb-2">Default Delivery Information</h5>
                <form action="{% url 'profile' %}" id="profile-update-form" class="mt-3" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 mb-3">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <h5 class="mb-2">Order History</h5>
                <div class="order-history px-0">
                    {% if orders %}
                        {% for order in orders %}
                            <div class="card w-100 mx-0 p-2 border-black rounded-0 mb-2">
                                <div class="card-body p-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            <h6 class="mb-0 flex-grow-1 pr-2 text-break text-black">Order #{{ order.order_number }}</h6>
                                        </a>    
                                    </div>
                                    <small class="text-muted text-nowrap mb-2">Date: <strong>{{ order.date|date:"d M Y" }}</strong></small>
                                    <table class="table table-sm mb-1 success-table">
                                        <thead>
                                            <tr>
                                                <th class="small text-muted">Item</th>
                                                <th class="small text-muted text-right">Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for line in order.lineitems.all %}
                                                <tr>
                                                    <td class="small">
                                                    <div class="text-break">
                                                        <a href="{% url 'product_detail' line.product.id %}" class="text-black">{{ line.product.name }}</a>
                                                        {% if line.product_size %}
                                                            <small class="text-muted ml-2">Size: <strong>{{ line.product_size|upper }}</strong></small>
                                                        {% elif line.product_boot_size %}
                                                            <small class="text-muted ml-2">Size(UK): <strong>{{ line.product_boot_size }}</strong></small>
                                                        {% elif line.product_ski_length %}
                                                            <small class="text-muted ml-2">Length(cm): <strong>{{ line.product_ski_length }}</strong></small>
                                                        {% elif line.product_pole_length %}
                                                            <small class="text-muted ml-2">Length(cm): <strong>{{ line.product_pole_length }}</strong></small>
                                                        {% endif %}
                                                    </div>
                                                    </td>
                                                    <td class="small text-right align-middle">{{ line.quantity }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="small"><strong>Delivery</strong></td>
                                                <td class="small text-right">£{{ order.delivery_cost }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total</strong></td>
                                                <td class="text-right"><strong>£{{ order.grand_total }}</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">No orders found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}