{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col my-auto text-center text-md-left">
                <h2 id="lead-text-header" class="display-4 logo-font mt-5 mt-lg-0">About Snow Depot</h2>
                <p>
                    <strong>Snow Depot</strong> specialises in the sale of high-quality skiwear and mountain equipment.
                    We source our inventory from a wide range of recognised international brands, and offer a quick and 
                    reliable delivery service to all corners of the globe.
                    <br>
                    <br>
                    Click below to see what we have on offer.
                </p>
                <div class="my-5 text-center text-md-left">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}