{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col my-auto text-center text-md-left">
                <h1 class="display-4 logo-font">About Snow Depot</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Etiam sollicitudin dolor eget sodales ornare. Sed vel ex
                    ac risus molestie cursus. Vivamus consequat nisi quis 
                    massa feugiat, sed gravida eros ornare. Integer non turpis 
                    vel eros hendrerit sollicitudin a ac quam. Sed a felis in erat 
                    sollicitudin euismod. Donec quis posuere ipsum. Proin vel 
                    hendrerit libero. Ut non ante et sem elementum laoreet nec quis 
                    tellus. Suspendisse ornare risus odio, eu ultrices metus condimentum 
                    eget.
                </p>
                <div class="my-5 text-center text-md-left">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}