{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container mb-4">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container">
                    <p class="logo-font"><strong>{{ product.name }}</strong></p>
                    <p class="text-left"><strong>£{{ product.price }}</strong></p>
                    {% if product.category %}
                        <p class="mt-1 mb-0">
                            <a class="text-black" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.subcategory %}
                        <p class="small mt-1 mb-0">
                            <a class="text-black" href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.subcategory.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small><i class="fas fa-star"> {{ product.rating }}  /  5</i></small>
                    {% else %}
                        <small>No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>

                    <form method="POST" action="{% url 'add_to_basket' product.id %}" class="mt-3">
                        {% csrf_token %}
                        <div class="form-row align-items-end">
                            {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col-auto">
                                <label for="product_size_id">Size</label>
                                <select name="product_size" id="product_size_id" class="form-control form-control-sm rounded-0 border-black">
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                            {% endif %}
                            {% endwith %}
                            {% with product.has_boot_sizes as bs %}
                            {% if bs %}
                            <div class="col-auto">
                                <label for="product_boot_size_id">Size(UK)</label>
                                <select name="product_boot_size" id="product_boot_size_id" class="form-control form-control-sm rounded-0 border-black">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                </select>
                            </div>
                            {% endif %}
                            {% endwith %}
                            {% with product.has_ski_lengths as sl %}
                            {% if sl %}
                            <div class="col-auto">
                                <label for="product_ski_length_id">Length(cm)</label>
                                <select name="product_ski_length" id="product_ski_length_id" class="form-control form-control-sm rounded-0 border-black">
                                    <option value="130">130</option>
                                    <option value="135">135</option>
                                    <option value="140">140</option>
                                    <option value="145">145</option>
                                    <option value="150">150</option>
                                    <option value="155">155</option>
                                    <option value="160">160</option>
                                    <option value="165">165</option>
                                    <option value="170">170</option>
                                    <option value="175">175</option>
                                    <option value="180">180</option>
                                    <option value="185">185</option>
                                    <option value="190">190</option>
                                    <option value="195">195</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                            {% endif %}
                            {% endwith %}
                            {% with product.has_pole_lengths as pl %}
                            {% if pl %}
                            <div class="col-auto">
                                <label for="product_pole_length_id">Length(cm)</label>
                                <select name="product_pole_length" id="product_pole_length_id" class="form-control form-control-sm rounded-0 border-black">
                                    <option value="80">80</option>
                                    <option value="85">85</option>
                                    <option value="90">90</option>
                                    <option value="95">95</option>
                                    <option value="100">100</option>
                                    <option value="105">105</option>
                                    <option value="110">110</option>
                                    <option value="115">115</option>
                                    <option value="120">120</option>
                                    <option value="125">125</option>
                                    <option value="130">130</option>
                                </select>
                            </div>
                            {% endif %}
                            {% endwith %}
                            <div class="col-auto">
                                <label for="id_qty_{{ product.id }}">Quantity</label>
                                <input id="id_qty_{{ product.id }}" name="quantity" type="number" min="1" max="99" value="1" class="form-control form-control-sm rounded-0 border-black">
                            </div>
                            <div class="col-auto">
                                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                <button type="submit" class="btn btn-sm btn-black rounded-0">Add to basket</button>
                            </div>
                        </div>
                    </form>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 border-black mt-4">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}